
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Cranium- the right way</title>
	<!-- META TAGS -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- FAV ICON(BROWSER TAB ICON) -->
	<link rel="shortcut icon" href="images/fav.ico" type="image/x-icon">
	<!-- GOOGLE FONT -->
	<link href="https://fonts.googleapis.com/css?family=Poppins%7CQuicksand:500,700" rel="stylesheet">
	<!-- FONTAWESOME ICONS -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- ALL CSS FILES -->
	<link href="css/materialize.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
	<!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
	<link href="css/responsive.css" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<script>
			(function() {
		"use strict";
	
			window.onload = () => {
			Connection();
		};
		
		if ('serviceWorker' in navigator) {
				if (location.hostname === 'triverla.github.io') {
					navigator.serviceWorker.register('sw.js', {scope: '/cranium/'}).then(function() {
						console.log('service worker registered for git pages');
					})
				} else {
					navigator.serviceWorker.register('sw.js').then(function() {
						console.log('service worker registered for others');
					})
				}
		}
	
		function Connection() {
			if (navigator.onLine) {
				snack("Internet is available");
			} else {
				snack("You are offline, Check your network connection!");
			}
		}
	
		function snack(text) {
			let x = document.querySelector("#snackbar");
			x.className = "show";
			x.innerHTML = text;
			setTimeout(() => {
				x.className = x.className.replace("show", "");
			}, 3000);
		}
	})();
		</script>
</head>

<body data-ng-app="">
	<!--MOBILE MENU-->
	<section>
		<div class="mm">
			<div class="mm-inn">
				<div class="mm-logo">
					<a href="index.html"><img src="images/logo.png" alt=""><b>Cra</b>nium<sup>&reg;</sup>
					</a>
				</div>
				<div class="mm-icon"><span><i class="fa fa-bars show-menu" aria-hidden="true"></i></span>
				</div>
				<div class="mm-menu">
					<div class="mm-close"><span><i class="fa fa-times hide-menu" aria-hidden="true"></i></span>
					</div>
					<ul>
						<li><a href="main.html">Home - Default</a>
						</li>
						<li><a href="main.html">About Us</a>
						</li>
						<li>
							<a href="#!" data-toggle="modal" data-target="#modal2"><img src="images/icon/5.png" alt=""> Register</a>
						</li>
						<li>
							<a href="#!" data-toggle="modal" data-target="#modal1"><img src="images/icon/6.png" alt=""> Log In</a>
						</li>
						<li>
							<a href="#!" data-toggle="modal" data-target="#modal3"><img src="images/icon/13.png" alt=""> Forgot Password</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!--HEADER SECTION-->
	<section>
		<!--TOP SECTION-->
		<div class="menu-section">
			<div class="container">
				<div class="row">
					<div class="top-bar">
						<ul>
							<li><a class='dropdown-button' href='#' data-activates='dropdown1'> My Account <i class="fa fa-angle-down"></i></a>
							</li>
							<li><a href="about-us.html">About Us</a>
							</li>
							<li><a href="contact-us.html">Contact Us</a>
							</li>
							<li><a class='dropdown-button' href='#' data-activates='dropdown2'>Language <i class="fa fa-angle-down"></i></a>
							</li>
							<li><a href="#">Toll Free No: 08147323591</a>
							</li>
						</ul>
					</div>
					<div class="all-drop-down">
						<!-- Dropdown Structure -->
						<ul id='dropdown1' class='dropdown-content drop-con-man'>
							<li>
								<a href="dashboard.html"><img src="images/icon/15.png" alt=""> My Account</a>
							</li>
							<li>
								<a href="db-profile.html"><img src="images/icon/2.png" alt=""> My Profile</a>
							</li>
							<li>
								<a href="db-booking.html"><img src="images/icon/16.png" alt=""> My Bookings</a>
							</li>
							<li>
								<a href="db-event.html"><img src="images/icon/17.png" alt=""> My Events</a>
							</li>
							<li>
								<a href="db-activity.html"><img src="images/icon/14.png" alt=""> My Activity</a>
							</li>
							<li>
								<a href="#!" data-toggle="modal" data-target="#modal2"><img src="images/icon/5.png" alt=""> Register</a>
							</li>
							<li>
								<a href="#!" data-toggle="modal" data-target="#modal1"><img src="images/icon/6.png" alt=""> Log In</a>
							</li>
							<li>
								<a href="#!" data-toggle="modal" data-target="#modal3"><img src="images/icon/13.png" alt=""> Forgot Password</a>
							</li>
						</ul>
						<!-- Dropdown Structure -->
						<ul id='drop-home' class='dropdown-content drop-con-man'>
							<li><a href="main.html">Home - Default</a>
							</li>
							<li><a href="index-1.html">Home - Reservation</a>
							</li>
							<li><a href="index-2.html">Home - FullSlider</a>
							</li>
							<li><a href="index-3.html">Home - Block Color</a>
							</li>
						</ul>
						<!-- Dropdown Structure -->
						<ul id='dropdown2' class='dropdown-content drop-con-man'>
							<li><a href="#!">English</a>
							</li>
							<li><a href="#!">Spanish</a>
							</li>
							<li><a href="#!">Hindi</a>
							</li>
							<li><a href="#!">Russian</a>
							</li>
							<li><a href="#!">Portuguese</a>
							</li>
						</ul>
						<!-- ROOM Dropdown Structure -->
						<ul id='drop-room' class='dropdown-content drop-con-man'>
							<li><a href="#">Meetup</a>
							</li>
							<li><a href="#">Projects</a>
							</li>
							<li><a href="#">Websites</a>
							</li>
							<li><a href="#">More</a>
							</li>
						</ul>
					
					</div>
				</div>
				<div class="row">
					<div class="logo">
						<a href="main.html"><img src="images/logo.png" alt="" /><b>Cra</b>nium<sup>&reg;</sup>
						</a>
					</div>
					<div class="menu-bar">
						<ul>
							<li><a href="#" class='dropdown-button' data-activates='drop-home'>Home <i class="fa fa-angle-down"></i></a>
							</li>
							<li><a href="#" class='dropdown-button' data-activates='drop-room'>Services<i class="fa fa-angle-down"></i></a>
							</li>
							<li><a href="#">Jobs</a>
							</li>
							<li><a href="menu.html">Menu</a>
							</li>
							<li><a href="events.html">Events</a>
							</li>
							<li><a href="help.html">Help</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--TOP SECTION-->
		<!--Check Availability SECTION-->
		<div>
			<div class="slider fullscreen">
				<ul class="slides">
					<li> <img src="images/code/a4.png" alt="">
						<!-- random image -->
						<div class="caption center-align slid-cap">
							<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
							<h2>The Right Way!</h2>
							<p>At Cranium, we aim on taking technology to the Next Level by providing IT solutions that matches international standards.</p> <a href="#" class="waves-effect waves-light">About Us</a><a href="#" data-toggle="modal" data-target="#modal2">Sign Up</a> </div>
					</li>
					<li> <img src="images/code/2.png" alt="">
						<!-- random image -->
						<div class="caption center-align slid-cap">
							<h5 class="light grey-text text-lighten-3">Here's what we do.</h5>
							<h2>Providing IT Solutions</h2>
							<p>Want to build a website for your business or brand? Want to code your final year project? Don't know how to deal with an IT problem? we have a solution.</p> <a href="#" class="waves-effect waves-light">Learn More</a><a href="#" data-toggle="modal" data-target="#modal4">Contact Us</a> </div>
					</li>
					<li> <img src="images/code/1.png" alt="">
						<!-- random image -->
						<div class="caption center-align slid-cap">
							<h5 class="light grey-text text-lighten-3">We also do this</h5>
							<h2>Consultancy</h2>
							<p>Consult us for tips and advice concerning your business, school, company, etc.</p> <a href="#" class="waves-effect waves-light" data-toggle="modal" data-target="#modal4">Contact Us</a><a href="#">Learn More</a> </div>
					</li>
					<li> <img src="images/code/a6.png" alt="">
						<!-- random image -->
						<div class="caption center-align slid-cap">
							<h5 class="light grey-text text-lighten-3">And this too!</h5>
							<h2>Learn to Code</h2>
							<p>For Students, individuals that want to become software developers...we have the right tools to put you through.</p> <a href="#" class="waves-effect waves-light">Apply Now</a><a href="#">Learn More</a> </div>
					</li>
				</ul>
			</div>
		</div>
		<!--End Check Availability SECTION-->
		<!--PROJECTS SECTION-->
		<div class="hom1 hom-com pad-bot-40">
			<div class="container">
				<div class="row">
					<div class="hom1-title">
						<h2>Our Services</h2>
						<div class="head-title">
							<div class="hl-1"></div>
							<div class="hl-2"></div>
							<div class="hl-3"></div>
						</div>
						<p>Some of the services we provide. Terms and Condition Apply</p>
					</div>
				</div>
				<div class="row">
					<div class="to-ho-hotel">
						<!-- HOTEL GRID -->
						<div class="col-md-4">
							<div class="to-ho-hotel-con">
								<div class="to-ho-hotel-con-1">
									<div class="hom-hot-av-tic"> Available: 50 </div> <img src="images/code/a1.png" alt=""> </div>
								<div class="to-ho-hotel-con-23">
									<div class="to-ho-hotel-con-2"> <a href="all-rooms.html"><h4>Website Design</h4></a> </div>
									<div class="to-ho-hotel-con-3">
										<ul>
											<li>City: Abuja
												<div class="dir-rat-star ho-hot-rat-star"> Rating: <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i> </div>
											</li>
											<li><span class="ho-hot-pri-dis">N150,000</span><span class="ho-hot-pri">N50,0000</span> </li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- HOTEL GRID -->
						<div class="col-md-4">
							<div class="to-ho-hotel-con">
								<div class="to-ho-hotel-con-1">
									<div class="hom-hot-av-tic"> Available: 5 </div> <img src="images/code/a3.png" alt=""> </div>
								<div class="to-ho-hotel-con-23">
									<div class="to-ho-hotel-con-2"> <a href="all-rooms.html"><h4>Final Year Project</h4></a> </div>
									<div class="to-ho-hotel-con-3">
										<ul>
											<li>City: Makurdi
												<div class="dir-rat-star ho-hot-rat-star"> Rating: <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i> </div>
											</li>
											<li><span class="ho-hot-pri-dis">N50,000</span><span class="ho-hot-pri">N30,000</span> </li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- HOTEL GRID -->
						<div class="col-md-4">
							<div class="to-ho-hotel-con">
								<div class="to-ho-hotel-con-1">
									<div class="hom-hot-av-tic"> Available : 10 </div> <img src="images/code/a5.png" alt=""> </div>
								<div class="to-ho-hotel-con-23">
									<div class="to-ho-hotel-con-2"> <a href="all-rooms.html"><h4>Software development</h4></a> </div>
									<div class="to-ho-hotel-con-3">
										<ul>
											<li>City: Makurdi
												<div class="dir-rat-star ho-hot-rat-star"> Rating: <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i> </div>
											</li>
											<li><span class="ho-hot-pri-dis">N70,000</span><span class="ho-hot-pri">N50,000</span> </li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--END HOTEL ROOMS-->
		<!--TOP SECTION-->
		<div class="offer">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="offer-l"> <span class="ol-1"></span> <span class="ol-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span> <span class="ol-4">Standardized Budget Services</span> <span class="ol-3"></span> <span class="ol-5">$15/-</span>
							<ul>
								<li>
									<a href="#!" class="waves-effect waves-light btn-large offer-btn"><img src="images/icon/dis1.png" alt="">
									</a><span>Free WiFi</span>
								</li>
								<li>
									<a href="#!" class="waves-effect waves-light btn-large offer-btn"><img src="images/icon/a9.png" alt=""> </a><span>Coffee</span>
								</li>
								<li>
									<a href="#!" class="waves-effect waves-light btn-large offer-btn"><img src="images/icon/a7.png" alt=""> </a><span>AC</span>
								</li>
								<li>
									<a href="#!" class="waves-effect waves-light btn-large offer-btn"><img src="images/icon/db3.png" alt=""> </a><span>Resources</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<div class="offer-r">
							<div class="or-1"> <span class="or-11">Learn</span> <span class="or-12">TO CODE</span> </div>
							<div class="or-2"> <span class="or-21">Get</span> <span class="or-22">70%</span> <span class="or-23">Off</span> <span class="or-24">use code: CRA12F7G4G6D</span> <span class="or-25"></span> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="blog hom-com pad-bot-0">
			<div class="container">
				<div class="row">
					<div class="hom1-title">
						<h2>Meet Our Team!</h2>
						<div class="head-title">
							<div class="hl-1"></div>
							<div class="hl-2"></div>
							<div class="hl-3"></div>
						</div>
						<p>Smart, intelligent people who aim at having your needs met.</p>
					</div>
				</div>
				<div class="row">
					<div>
						<div class="col-md-3 n2-event">
							<!--event IMAGE-->
							<div class="n21-event hovereffect"> <img src="images/users/pic2.jpg" alt="">
								<div class="overlay"> <a href="booking.html"><span class="ev-book">Contact</span></a> </div>
							</div>
							<!--event DETAILS-->
							<div class="n22-event"> <a href="#!"><h4>Bee Why</h4></a> <span class="event-date">CEO</span> <span class="event-by"> Cranium inc.</span>
								<p>undergraduate applicants are admitted on a need-blind basis, and the university offers undergraduate applicants</p>
								<!--event SHARE-->
								<div class="event-share">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a>
										</li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a>
										</li>
										<li><a href="#"><i class="fa fa-twitter"></i></a>
										</li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3 n2-event">
							<!--event IMAGE-->
							<div class="n21-event hovereffect"> <img src="images/users/pic1.jpg" alt="">
								<div class="overlay"> <a href="booking.html"><span class="ev-book">Contact</span></a> </div>
							</div>
							<!--event DETAILS-->
							<div class="n22-event"> <a href="#!"><h4>Vanessa Hamely</h4></a> <span class="event-date">HR - </span> <span class="event-by"> Cranium inc.</span>
								<p>undergraduate applicants are admitted on a need-blind basis, and the university offers undergraduate applicants</p>
								<!--event SHARE-->
								<div class="event-share">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a>
										</li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a>
										</li>
										<li><a href="#"><i class="fa fa-twitter"></i></a>
										</li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3 n2-event">
							<!--event IMAGE-->
							<div class="n21-event hovereffect"> <img src="images/users/pic2.jpg" alt="">
								<div class="overlay"> <a href="booking.html"><span class="ev-book">Contact</span></a> </div>
							</div>
							<!--event DETAILS-->
							<div class="n22-event"> <a href="#!"><h4>Peter Tommy</h4></a> <span class="event-date">Software Developer</span>
								<p>undergraduate applicants are admitted on a need-blind basis, and the university offers undergraduate applicants</p>
								<!--event SHARE-->
								<div class="event-share">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a>
										</li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a>
										</li>
										<li><a href="#"><i class="fa fa-twitter"></i></a>
										</li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3 n2-event">
							<!--event IMAGE-->
							<div class="n21-event hovereffect"> <img src="images/users/pic7.jpg" alt="">
								<div class="overlay"> <a href="booking.html"><span class="ev-book">Contact</span></a> </div>
							</div>
							<!--event DETAILS-->
							<div class="n22-event"> <a href="#!"><h4>Elijah Daniel</h4></a> <span class="event-date">Head of operations</span> 
								<p>undergraduate applicants are admitted on a need-blind basis, and the university offers undergraduate applicants</p>
								<!--event SHARE-->
								<div class="event-share">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a>
										</li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a>
										</li>
										<li><a href="#"><i class="fa fa-twitter"></i></a>
										</li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="blog hom-com">
			<div class="container">
				<div class="row">
					<div class="hom1-title">
						<h2>News & Event</h2>
						<div class="head-title">
							<div class="hl-1"></div>
							<div class="hl-2"></div>
							<div class="hl-3"></div>
						</div>
						<p>We have amazing News and events planned out for you.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="bot-gal h-gal">
							<h4>Photo Gallery</h4>
							<ul>
								<li><img class="materialboxed" data-caption="Java Meetup" src="images/code/a4.png" alt="">
								</li>
								<li><img class="materialboxed" data-caption="javascript BootCamp" src="images/code/a6.png" alt="">
								</li>
								<li><img class="materialboxed" data-caption="2018 Hackaton" src="images/code/a4.png" alt="">
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-4">
						<div class="bot-gal h-vid">
							<h4>Video Gallery</h4>
							<iframe src="https://www.youtube.com/embed/mG4G8crGQ34?autoplay=0&amp;showinfo=0&amp;controls=0" allowfullscreen></iframe>
							<h5>A little about us</h5>
							<p>Founded on the solid foundation of integrity, passion and the desire to provide solutions.</p>
							<p>We have seven(7) pillars holding this Organisation. Love, Integrity, Passion, ....</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="bot-gal h-blog">
							<h4>News & Event</h4>
							<ul>
								<li>
									<a href="#!"> <img src="images/users/2.png" alt="">
										<h5>2018 Hackaton</h5> <span>3 Dec, 2018</span>
										<p>we are thankful to everyone that participated and made 2018 Hackaton a success</p>
									</a>
								</li>
								<li>
									<a href="#!"> <img src="images/users/3.png" alt="">
										<h5>Javascript Meetup</h5> <span>3 Feb, 2019</span>
										<p>Javascript Monthly meetup holds 5 Febuary, 2019 at Cranium Hub, Abuja</p>
									</a>
								</li>
								<li>
									<a href="#!"> <img src="images/users/4.png" alt="">
										<h5>Php enthusiats Meetup</h5> <span>27 Jan, 2019</span>
										<p>Do you love Php? we have something cooking up for you</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="">
			<div>
				<!--TOP SECTION-->
				<div class="hom-footer-section">
					<div class="container">
						<div class="row">
							<div class="foot-com foot-1">
								<ul>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
									</li>
								</ul>
							</div>
							<div class="foot-com foot-2">
								<h5>Phone: (+234) 8147 32 35 91</h5> </div>
							<div class="foot-com foot-3">
								<!--<a class="waves-effect waves-light" href="#">online room booking</a>--><a class="waves-effect waves-light" href="#" data-toggle="modal" data-target="#modal4">Contact Us</a> </div>
							<div class="foot-com foot-4">
								<a href="#"><img src="images/card.png" alt="" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>				
	</section>
	<!--END HEADER SECTION-->
	<footer class="site-footer clearfix">
		<div class="sidebar-container">
			<div class="sidebar-inner">
				<div class="widget-area clearfix">
					<div class="widget widget_azh_widget">
						<div>
							<div class="container">
								<div class="row">
									<div class="col-sm-12 col-md-3 foot-logo"><h4><b>Cra</b>nium<sup>&reg;</sup></h4>
										<p class="hasimg">Cranium inc. web, software and technology. We have the solution.</p>
										<p class="hasimg">The top-rated Web and Tech. service Zone.</p>
									</div>
									<div class="col-sm-12 col-md-3">
										<h4>Support &amp; Help</h4>
										<ul class="two-columns">
											<li><a href="dashboard.html">Dashboard</a>
											</li>
											<li><a href="db-activity.html">Faqs</a>
											</li>
											<li><a href="booking.html">Booking</a>
											</li>
											<li><a href="contact-us.html">Contact Us</a>
											</li>
											<li><a href="about-us.html">About Us</a>
											</li>
											<li><a href="aminities.html">Help</a>
											</li>
											<li><a href="blog.html">Blog</a>
											</li>
											<li><a href="menu1.html">Sponsporship</a>
											</li>
										</ul>
									</div>
									<div class="col-sm-12 col-md-3">
										<h4>Popular Services</h4>
										<ul class="two-columns">
											<li><a href="all-hotels.html">Our Projects</a>
											</li>
											<li><a href="about-us.html">About Us</a>
											</li>
											<li><a href="contact-us.html">Contact Us</a>
											</li>
											<li><a href="#">projects</a>
											</li>
											<li><a href="#">Machine Learning</a>
											</li>
											<li><a href="#">Hackaton</a>
											</li>
											<li><a href="#">Meetups</a>
											</li>
											<li><a href="#">Code Lessons</a>
											</li>
										</ul>
									</div>
									<div class="col-sm-12 col-md-3">
										<h4>Address</h4>
										<p>9A Rapid Loop Avenue, Suite 14 Cranium- Hills, Abuja, Nigeria</p>
										<p> <span class="foot-phone">Phone: </span> <span class="foot-phone">+234 8147323591</span> </p>
									</div>
								</div>
							</div>
						</div>
						<div class="foot-sec2">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 col-md-3">
										<h4>For Sponsporship</h4>
										<p class="hasimg"> <img src="images/payment.png" alt="payment"> </p>
									</div>
									<div class="col-sm-12 col-md-4">
										<h4>Subscribe Now</h4>
										<form>
											<ul class="foot-subsc">
												<li>
													<input type="email"  id="semail" placeholder="Enter your email id"> </li>
												<li>
													<input type="submit" id="ssubmit" value="submit" > </li>
											</ul>
										</form>
									</div>
									<div class="col-sm-12 col-md-5 foot-social">
										<h4>Follow us</h4>
										<p>Join the thousands of others as we take technology in Nigeria to the Next Level </p>
										<ul>
											<li><a href="#!"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
											<li><a href="#!"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
											<li><a href="#!"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
											<li><a href="#!"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
											<li><a href="#!"><i class="fa fa-youtube" aria-hidden="true"></i></a> </li>
											<li><a href="#!"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .widget-area -->
			</div>
			<!-- .sidebar-inner -->
		</div>
		<!-- #quaternary -->
	</footer>
	<div id="snackbar"></div>
	<section class="copy">
		<div class="container">
			<p>copyrights © 2019 Cranium&REG; &nbsp;&nbsp;All rights reserved. </p>
		</div>
	</section>
	<section>
		<!-- LOGIN SECTION -->
		<div id="modal1" class="modal fade" role="dialog">
			<div class="log-in-pop">
				<div class="log-in-pop-left">
					<h1>Hello... <span>{{ name }}</span></h1>
					<p>Don't have an account? Create your account. It's take less then a minutes</p>
					<h4>Login with social media</h4>
					<ul>
						<li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
						</li>
						<li><a href="#"><i class="fa fa-google"></i> Google+</a>
						</li>
						<li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
						</li>
					</ul>
				</div>
				<div class="log-in-pop-right">
					<a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
					</a>
					<h4>Login</h4>
					<p>Don't have an account? Create your account. It's take less then a minutes</p>
					<form class="s12">
						<div>
							<div class="input-field s12">
								<input type="text" data-ng-model="name" class="validate">
								<label>User name</label>
							</div>
						</div>
						<div>
							<div class="input-field s12">
								<input type="password" class="validate">
								<label>Password</label>
							</div>
						</div>
						<div>
							<div class="s12 log-ch-bx">
								<p>
									<input type="checkbox" id="test5" />
									<label for="test5">Remember me</label>
								</p>
							</div>
						</div>
						<div>
							<div class="input-field s4">
								<input type="submit" value="Login" class="waves-effect waves-light log-in-btn"> </div>
						</div>
						<div>
							<div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal3">Forgot password</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- CONTACT SECTION -->
		<div id="modal4" class="modal fade" role="dialog">
			<div class="log-in-pop">
				<div class="log-in-pop-left">
					<h1>Hello... <span>{{ name4 }}</span></h1>
					<p>Want to find out more about us?? Write to us. It takes few minutes</p>
					<h4>Login with social media</h4>
					<ul>
						<li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
						</li>
						<li><a href="#"><i class="fa fa-google"></i> Google+</a>
						</li>
						<li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
						</li>
					</ul>
				</div>
				<div class="log-in-pop-right">
					<a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
					</a>
					<h4>Contact Us</h4>
					<p>Want to find out more about us?? Write to us. It takes few minutes</p>
					<form class="s12">
						<div>
							<div class="input-field s12">
								<input type="text" data-ng-model="name4" class="validate" id="cname">
								<label>User name</label>
							</div>
						</div>
						<div>
							<div class="input-field s12">
								<input type="email" class="validate" id="cemail">
								<label>Email id</label>
							</div>
						</div>
						<div>
							<div class="input-field s12">
								<textarea class="validate" cols="15" rows="4" id="cmessage"></textarea>
								<label>Message</label>
							</div>
						</div>
						<div>
							<div class="input-field s4">
								<button id="csubmit" class="waves-effect waves-light log-in-btn" data-dismiss="modal" >Submit</button> 
							</div>
						</div>
						
					</form>
				</div>
			</div>
		</div>
		<!-- REGISTER SECTION -->
		<div id="modal2" class="modal fade" role="dialog">
			<div class="log-in-pop">
				<div class="log-in-pop-left">
					<h1>Hello... <span>{{ name1 }}</span></h1>
					<p>Don't have an account? Create your account. It's take less then a minutes</p>
					<h4>Login with social media</h4>
					<ul>
						<li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
						</li>
						<li><a href="#"><i class="fa fa-google"></i> Google+</a>
						</li>
						<li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
						</li>
					</ul>
				</div>
				<div class="log-in-pop-right">
					<a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
					</a>
					<h4>Create an Account</h4>
					<p>Don't have an account? Create your account. It's take less then a minutes</p>
					<form class="s12">
						<div>
							<div class="input-field s12">
								<input type="text" data-ng-model="name1" class="validate">
								<label>User name</label>
							</div>
						</div>
						<div>
							<div class="input-field s12">
								<input type="email" class="validate">
								<label>Email id</label>
							</div>
						</div>
						<div>
							<div class="input-field s12">
								<input type="password" class="validate">
								<label>Password</label>
							</div>
						</div>
						<div>
							<div class="input-field s12">
								<input type="password" class="validate">
								<label>Confirm password</label>
							</div>
						</div>
						<div>
							<div class="input-field s4">
								<input type="submit" value="Register" class="waves-effect waves-light log-in-btn"> </div>
						</div>
						<div>
							<div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> </div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- FORGOT SECTION -->
		<div id="modal3" class="modal fade" role="dialog">
			<div class="log-in-pop">
				<div class="log-in-pop-left">
					<h1>Hello... <span>{{ name3 }}</span></h1>
					<p>Don't have an account? Create your account. It's take less then a minutes</p>
					<h4>Login with social media</h4>
					<ul>
						<li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
						</li>
						<li><a href="#"><i class="fa fa-google"></i> Google+</a>
						</li>
						<li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
						</li>
					</ul>
				</div>
				<div class="log-in-pop-right">
					<a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
					</a>
					<h4>Forgot password</h4>
					<p>Don't have an account? Create your account. It's take less then a minutes</p>
					<form class="s12">
						<div>
							<div class="input-field s12">
								<input type="text" data-ng-model="name3" class="validate">
								<label>User name or email id</label>
							</div>
						</div>
						<div>
							<div class="input-field s4">
								<input type="submit" value="Submit" class="waves-effect waves-light log-in-btn"> </div>
						</div>
						<div>
							<div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!--ALL SCRIPT FILES-->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/bootstrap.js" type="text/javascript"></script>
	<script src="js/materialize.min.js" type="text/javascript"></script>
	<script src="js/jquery.mixitup.min.js" type="text/javascript"></script>
	<script src="js/custom.js"></script>
	<script src="js/idb.js"></script>
	
</body>
</html>